@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 26px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: left;
  font-family: Arial;
}

h2 {
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
  color: #696969;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  line-height: 30px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

th, td {
  padding: 5px;
  text-align: center;
}

.field {
  padding: 5px;
}
