<!--created by Yihua (liyihua@mit.edu) and Harry (sanabria@mit.edu)-->

<% provide(:title, 'Purchase') %>

<%= link_to 'Edit how much you pay', edit_purchase_path(@purchase) %> <br>

<p>
	<strong>Purchase:</strong>
	<%= @purchase.title %>
</p>

<p>
	<strong>Total price:</strong>
	<%= "$#{@purchase.price}" %>
</p>

<p>
	<strong>You owe:</strong>
</p>